.Topbarsection{
    width: 100%;
    height: 60px;
    background-color: rgba(241, 239, 239, .6);
    backdrop-filter: blur(10px);
    padding-left: 5px;
    padding-top: 20px;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
}

.Topbarsection .MusicPlayersection {
    width: 100%;
    display: flex;
    padding-left: 150px;    
}

.Topbarsection .Volumebar{
    padding-right: 200px;
}

.Signin{
    width: 200px;
    padding-right: 30px;
}
/* .Topbarsection .Music{
    height: 50px;
    width: 1500px;
    background-color: black;
    padding-right: 100px;
    margin-right: 300px;
    margin-bottom: 5px;
} */
